html/relatorioCPF.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ORPECCPF">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="emails">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="passagens"/>
              <xs:element type="xs:string" name="email"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="enderecos" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="passagens"/>
              <xs:element type="xs:string" name="cidade"/>
              <xs:element type="xs:string" name="estado"/>
              <xs:element type="xs:short" name="numero"/>
              <xs:element type="xs:string" name="logradouro"/>
              <xs:element type="xs:string" name="bairro"/>
              <xs:element type="xs:string" name="compl"/>
              <xs:element type="xs:int" name="cep"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:int" name="cpf"/>
        <xs:element type="xs:string" name="nome"/>
        <xs:element type="xs:string" name="nome_mae"/>
        <xs:element name="telefones" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="passagens"/>
              <xs:element type="xs:byte" name="ddd"/>
              <xs:element type="xs:int" name="tel"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:date" name="dt_nascimento"/>
        <xs:element name="participacoes" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="razao_social"/>
              <xs:element type="xs:long" name="cnpj"/>
              <xs:element type="xs:string" name="cargo"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:short" name="status"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>
